@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Poppins, sans-serif;
    background-color: #F5F6FB;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow: visible;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border: solid transparent;
    background-color: #7289DA;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #607AD5;
}

header {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
}

.logo a {
    float: left;
    margin-top: 15px;
    text-decoration: none;
}

.logo img {
    height: 40px;
}

.logo a span {
    color: #000;
    vertical-align: middle;
    opacity: .9;
    font-size: 18px;
    font-weight: 500;
}

nav {
    float: right;
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #000;
    opacity: .7;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

nav ul li.active a {
    opacity: 1;
}

nav ul li a::after {
    content: '';
    width: 50%;
    display: block;
    margin: 5px auto;
    border-bottom: 3px solid transparent;
}

nav ul li.active a::after {
    border-color: #7289DA;
}

nav ul li:hover a::after {
    border-color: #7289DA;
    transition: .5s;
}

nav a:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: all .5s;
}

nav a.btn {
    display: flex;
    opacity: 1;
    font-size: 13px;
    padding: 8px 20px;
    text-transform: unset;
}

@media (max-width: 900px) {
    /* On enléve le menu principal */
    nav {
        display: none
    }
}

footer {
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
    font-size: 13px;
}

.container {
    min-width: 80%;
}

.container h4 {
    opacity: .9;
    margin-bottom: 25px;
}

.btn {
    font-weight: 500;
    font-size: 13px;
}

.btn-primary {
    background-color: #7289DA;
    border-color: #7289DA;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #5572D2;
    border-color: #5572D2;
}

.btn-primary:focus, .btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(114 137 218 / 50%);
}

.btn-success {
    background-color: #43B581;
    border-color: #43B581;
}

.btn-success:hover, .btn-success:focus {
    background-color: #3A9C71;
    border-color: #3A9C71;
}

.btn-success:focus, .btn-success:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(67 181 129 / 50%);
}

.btn-primary.disabled {
    background-color: #C2CAFC;
    border-color: #C2CAFC;
}

.box-content {
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
}

.box-content::after {
    content: '';
    clear: both;
    display: table;
}

.content-title {
    font-size: 15px;
    display: inline-block;
    position: relative;
    font-weight: 600;
    height: 40px;
}
/** PLANNING */


.planning {
    min-width: 900px;
    position: relative;
}

.planning-title {
    display: inline-block;
}

.planning-tools {
    position: absolute;
    top: -5px;
    right: 0;
}

.planning-tools a.btn {
    padding: 8px 12px;
    border-radius: 50px;
}

.nav-week {
    font-size: 2rem;
}

.planning form {
    display: inline;
}

.planning select {
    display: inline-block;
    width: auto;
    border: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px 40px 10px 20px;
}

.planning select:focus {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0);
}

.planning .box-content {
    position: relative;
    width: calc(100% - 50px);
    padding: 0;
    margin: 20px 0 0 50px;
}

.planning-nav {
    margin-top: -20px;
}

.planning table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
}

.planning table td {
    width: calc(100% / 7);
}

.planning thead td {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #707A88;
    padding: 15px;
}

.planning thead td.active {
    color: #455AF7;
}

.numDay {
    font-size: 22px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: normal;
    display: block;
}

.nameDay {
    font-weight: 100;
    text-transform: uppercase;
}

.table-scroll {
    width: 100%;
    overflow-y: auto;
    display: block;
}

.planning tbody td {
    position: relative;
}

.planning thead td:first-child {
    border-left: none;
    border-radius: 10px 0 0 0;
}

.planning thead td:last-child {
    border-radius: 0 10px 0 0;
}

.planning thead tr { 
    height:60px;
    background:#FBFBFC;
    font-size:16px;
}

.planning tbody tr {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #F2F3F7;
}

.planning tbody tr:last-child {
    border:0;
    padding: 0;
    height: 0;
}

.planning tbody tr:last-child td {
    padding: 0;
}

.planning tbody tr:last-child td span {
    top: -12px;
}

.planning tbody td:first-child {
    padding: 3px 20px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}

.planning tbody td span {
    position: absolute;
    top: -8px;
    left: -50px;
    color: #B6B8BC;
}

.planning-events {
    position: absolute;
    top: 84px;
    width: 100%;
    height: calc(100% - 84px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.planning-events .events-day {
    position: relative;
    border-right: 1px solid #F2F3F7;
}

.planning-events .events-day:last-child {
    border-right: 0;
}

.planning-events .events-day .event {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #2C45F5;
    color: #fff;
    padding: 8px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    border-radius: 5px;
    border-bottom: 4px solid rgba(0,0,0,0.08);
}

.planning-events .events-day .event:focus-within {
    border: 1px solid;
}

.planning-events .events-day .event span {
    display: block;
}

.planning-events .events-day .event span:first-child {
    margin-bottom: 3px;
    opacity: .8;
    font-size: 10px;
}

.planning-events .events-day .event b {
    font-size: 12px;
}


.nav-cours {
    margin-bottom: 20px;
}

.list-cours {
    padding: 15px 0;
    border-bottom: 1px dashed;
}

.list-cours:last-child {
    border: 0;
}
.cours-info {
    width: calc(100% - 50%);
    line-height: 1.6;
}

.list-cours p {
    font-weight: 600;
    margin-bottom: 0;
}

.list-cours span {
    font-size: 13px;
    font-style: italic;
    opacity: .8;
}

.cours-date {
    flex: 1;
}

.list-cours > a.btn {
    position: absolute;
    right: 30px;
    padding: 3px 6px;
    font-size: 1.2rem;
}

label {
    font-size: 13px;
    font-weight: 500;
}

.alert {
    font-size: 13px;
}

.invalid-feedback {
    font-size: 12px;
}

.form-control, .form-control:focus {
    background-color: #F5F5F7;
    border-color: #F5F5F7;
    font-size: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

/** LOGIN */
.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
    background-color: #fff;
    width: 400px;
    border-radius: 8px;
	padding: 35px 30px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.02);
}

.login h2 {
	text-align: center;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 22px;
}

.login label {
    display: block;
    line-height: 1.8;
    font-size: 12px;
    font-weight: 500;
}

.login input {
    font-family: sans-serif;
	padding: 15px;
	width: 100%;
	border: none;
	font-size: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
	background: #F5F5F7;
    border: 1px solid transparent;
}

.login input:focus {
    border-color: #7289DA;
}

.login input[type=submit] {
	background: #7289DA;
    border-radius: 8px;
	padding-right: 35px;
}

.login span {
    text-align: center;
    color: red;
    display: block;
}