@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");

* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #F5F6FA;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow: visible;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border: solid transparent;
    background-color: #455AF7;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #2C45F5;
}

a {
    text-decoration: none;
}

a.disabled {
    cursor: not-allowed;
}

/** HEADER */
header {
    width: 100%;
    background-color: #fff;
    padding: 15px 20px;
    height: 70px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.04);
}

.logo {
    float: left;
    height: 40px;
    line-height: 35px;
}

.logo i {
    background-color: #455AF7;
    color: #fff;
    padding: 8px 10px;
    margin-right: 8px;
    font-size: 18px;
    border-radius: 5px;
    vertical-align: middle;
}

.logo span {    
	font-family: 'Jost', sans-serif;
    font-size: 22px;
    vertical-align: middle;
}

.title-logo {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    vertical-align: middle;
    display: inline-block;
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation ul li {
    display: inline;
    margin: 0 20px;
}

.navigation a {
    color: #000;
    opacity: .8;
    font-weight: 600;
}

.navigation a:hover {
    opacity: 1;
}

.navigation a.active {
    color: #455AF7;
    opacity: 1;
}

.navigation a i {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 1.3rem;
}

.navigation a span {
    vertical-align: middle;
    
}

.right-tools a {
    font-size: 14px;
    padding: 8px 20px;
}

/** PAGE */
.container {
    margin-top: 30px;
    max-width: 90%;
}

.box-content {
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.04);
}

.box-content::after {
    content: '';
    clear: both;
    display: table;
}

.content-title {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    height: 40px;
    font-weight: 600;
}

.content-title::after {
    content: '';
    margin-top: 5px;
    border-bottom: 3px solid #455AF7;
    width: 70%;
    display: block;
}


.btn-primary {
    color: #fff;
    background-color: #455AF7;
    border-color: #455AF7;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #2E47F5;
    border-color: #2E47F5;
}

.btn-primary:focus, .btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(69 90 247 / 50%);
}

.btn-primary.disabled {
    background-color: #F5B7AD;
    border-color: #F5B7AD;
}

.calendar {
    float: left;
    width: calc(100% - 100px);
    height: 100vh;
    margin-left: 80px;
}

.calendar-title {
	font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    margin: 20px 0;
}

.nav-week {
    font-size: 2rem;
}

.calendar form {
    display: inline;
}
.calendar select {
    display: inline-block;
    width: auto;
    height: 38px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    padding: 7px 40px 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
}

.calendar select:focus {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
}

.calendar .box-content {
    padding: 0;
}

.calendar-nav {
    margin-top: -20px;
}

table {
    width: 100%;
    height: calc(100vh - 60px);
    min-height: 1000px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    border-spacing: 1;
    border: 0;
    border-radius: 8px;
}

table td {
    width: calc(100% / 7);
}

table td:first-child {
    width: 0;
}

thead td {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #707A88;
    padding: 15px;
}

thead td.active {
    color: #455AF7;
}

.numDay {
    font-size: 22px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: normal;
    display: block;
}

.nameDay {
    font-weight: 100;
    text-transform: uppercase;
}

.table-scroll {
    width: 100%;
    overflow-y: auto;
    display: block;
}

tbody td {
    position: relative;
}

thead td:first-child {
    border-left: none;
    border-radius: 10px 0 0 0;
}

thead td:last-child {
    border-radius: 0 10px 0 0;
}

thead tr { 
    height:60px;
    background:#FBFBFC;
    font-size:16px;
}

tbody tr {
    width: 100%;
    border-bottom: 1px solid #F2F3F7;
}

tbody tr:last-child {
    border:0;
}

tbody td:first-child {
    padding: 3px 20px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}

tbody td span {
    position: absolute;
    top: -5px;
    left: -50px;
    color: #B6B8BC;
}

tbody td {
    border-right: 1px solid #F2F3F7;
}


.calendar-events {
    position: absolute;
    top: 80px;
    width: 100%;
}

.calendar-events .events-day {
    width: calc(100% / 7);
}

.calendar-events .events-day .event {
    width: 100%;
    background-color: grey;
    border: 1px solid #000;
}


/** LOGIN */
.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
    background-color: #fff;
    width: 450px;
    border-radius: 8px;
	padding: 35px 50px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.04);
}

.login h2 {
	text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

.login label {
    display: block;
    line-height: 1.8;
}

.login input {
    font-family: sans-serif;
	padding: 15px;
	width: 100%;
	border: none;
	font-size: 14px;
    margin-bottom: 15px;
    border-radius: 3px;
	background: #F1F3F4;
    border: 1px solid transparent;
}

.login input:focus {
    border-color: #455AF7;
}

.login input[type=submit] {
	background: #455AF7;
	padding-right: 35px;
}

.login span {
    text-align: center;
    color: red;
    display: block;
}